/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/


/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: #8FBC8F;
    font-family: 'Open Sans', sans-serif;
    grid-template-columns: 75px auto;
}
header img{float:left;margin-right:10px;width:40px;}
header h1 {margin: 0;color: #FFFaf0;font-size:1.3rem}
header h2 {margin: 0; color: #006400;font-weight: normal;font-size:1rem}

header img{float:left; margin-right: 10px; width: 50px;}
header h1 {margin: 0; font-size: 1.5rem; font-family: 'Oswald', sans-serif;
margin-top: .5rem;}
header h2 {margin: 0; font-weight: normal; font-size: 1rem;}

/*----------- NAVIGATION --------------*/

nav button {
  margin: .2rem 2%;
  background-color: rgb(150, 133, 245);
  border: none;
  font-size: 1.6rem;

}




nav {background-color: #006400;
font-family: Arial, Helvetica, sans-serif;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li a {
    display: flex;
    justify-content: center;
    color: #eee;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
}
nav ul li a:hover {
    background-color: #008000;
    color: black;
}
nav ul li.active a {
    background-color: #8fbc8f;
    color: #FFFaf0;
}



/*----------- MAIN --------------*/
#town{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  padding: 12px;
}

#town article img{
  width:100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  
  
  
}

#town article{
  width: 100%;
  background-color:#008000;
  margin-bottom: 15px;
  margin-left: 5px;
  margin: 15px;
}

#town h2{
  text-align: center;
}

#town p{
  text-align: center;
  font-size: 15px;
  margin: auto;
  padding: 2%;
}
.current {
    display: none;
  }
  
  img{
    width:100%;
    margin: auto;
  }
  
  .fiveday{
  
    display: none;
  }
  
  .fiveday h2{ text-align: center;}
  
  /*Article*/
  
  article h1 {margin: 12px;}
  
  article {margin: 8px;}
  
  figure img {
  
    width: 100%;
  
  }
  figure{
    display: block;
    max-width: 100%;
    margin: 0;
  }
  
  figcaption {text-align: center;}
}

}
/* ---------- FORM STYLE ---------*/

form fieldset {
  margin: 2rem 0;  
  border: 1px solid #05668D;
  border-radius: 10px;
  padding: .5rem 2%;
}

form legend {
  color: black;
  margin: 0 1rem;
  padding: 0 .5rem;
}

form label.top, form div {
  display: block;
  padding-top: 1rem;
  color: black;
  font-size: .8rem;
}

form label.top input, form label.top select {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: .75rem;
  color: #555;
  width: 100%;
  max-width: 20rem;
  background-color: rgba(0,0,0,0.1);

}

form label.sbs {
  display: block;
  padding: .75rem 0;
  color: #555;
}

form input.submitBtn{
  border: none;
  background-color: red;
  color: white;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 20rem;
}

form label.top input:required{
  border-left: red solid 6px;
}

form label.top input:required:valid{
  border-left: green solid 6px;;
}

datalist {
  visibility: visible; 
}

/*----------- FOOTER --------------*/
div .contact p{ padding: .5rem 2%;}

.contact{
  display: block;
  width: 100%;
  margin: 0; 
  background-color: rgb(150, 133, 245);
}

footer {
    background-color: #006400;
    display: block;
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    
}




/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}