/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


/*----------- BODY --------------*/



/*----------- HEADER --------------*/
header img{ width: auto;}
header h1{font-size: 3rem; padding: 10px 20px 0;}
header h2{font-size: 1.2rem; padding: 0 20px;}



/*----------- NAVIGATION --------------*/
nav{
    background: #50e469; /* Old browsers */
    background: -moz-linear-gradient(top,#50e469 0%, #50e469 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #50e469 0%,#50e469 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #50e469 0%,#50e469 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46b6c7', endColorstr='#6bcdcd',GradientType=0 ); /* IE6-9 */
}
nav button { display:none;}
nav ul.hide { display: block;}
nav ul {margin-left: 1%;}
nav ul li {float: left;}

nav ul li a{
    padding: .8rem .5rem;
    border: none;
    border-right: 1px solid black;
}



/*----------- MAIN --------------*/
.text-block{display:block;}

h2.a{display:block;}

table.b{display:block;}

article img{
    width:50%;
    float:right;
}
section{column-count:2;}

/*gallery page*/
div.natureShots figure {
    flex-basis: 46%;
}





/*----------- FOOTER --------------*/
    
} /* end of media query */