/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


/*----------- BODY --------------*/



/*----------- HEADER --------------*/
    
/*----------- NAVIGATION --------------*/
nav li {
    background-color: rgb(3, 95, 23);
    float: left;
    width: 16.6%;
    margin-left: auto;
}

main h1{
    clear:both;
    padding: 6px;
}
/*----------- MAIN --------------*/
.hero1{
    margin: 10px;
}

main h1{margin: auto;}

main h2{ visibility: visible;}

.current{

    display: inline-block;
    min-width: 100px;
    background-color: rgb(150, 133, 245);
    position: absolute;
    top: 9rem;
    margin: 10px;
    padding: 1rem;
  
}

.fiveday{
    display:block;
    margin: 8px;
}

.fiveday h2{
    visibility: visible; 
}
table, th, td{
    text-align: center;
    border: 1px solid black;
}

th{
    background-color: rgb(150, 133, 245);
}

article img{
    max-width: 350px;
    float: right;
    padding: 1em;
    clear: both;
}

figcaption {
    display: none;
}
/*----------- FOOTER --------------*/
    
.contact{
    column-count: 2;
}

}/* end of media query */